<div class="entry">
	<h3>Formulario de Contacto</h3>
	<div id="fconsole" class="fconsole"></div>
	<form id="fcontacto" name="fcontacto">
	<label><strong>Nombre:</strong>
	<br>
		<input type="text" id="cnombre" name="cnombre" value="" class="fcontacto" />
	</label>
	<br>
	<label><strong>Email:</strong>
	<br>
		<input type="text" id="cemail" name="cemail" value="" class="fcontacto" />
	</label>
	<br>
	<label><strong>Asunto:</strong>
	<br>
		<input type="text" id="casunto" name="casunto" value="" class="fcontacto" />
	</label>
	<br>
	<label><strong>Mensaje:</strong>
	<br>
		<textarea id="cmensaje" name="cmensaje" class="fcontacto ftextarea"></textarea>
	</label>
	<center><input type="button" id="creset" name="creset" value="Limpiar" class="fbutton" onclick="contactoReset()" /> <input type="button" id="csubmit" name="csubmit" value="Enviar" class="fbutton" onclick="contactoSubmit()" /></center>
	</form>		
</div>