<div id="mytitle" style="width:600px;height:20px;background-color:#fff;display:table;text-align:center;">{%title%}</div>
<div style="width:600px;height:350px;background-color:#fff;display:table;text-align:center;">
	<div id="myplayer" style="width:400px;display:table-cell;">
		<div id="myvideo" style="width:100%;height:300px;">{%video%}</div>
		<div id="mydescription" style="width:100%;height:50px;text-align:justify;">{%descripcion%}</div>
	</div>
	<div id="myplaylist" style="display:width:200px;table-cell; backgron">
		<div id="mylisttitle" style="width:100%;height:20px;">Lista de Videos</div>
		<div id="mylist" style="width:100%;height:330px;overflow-y:scroll;">{%list%}</div>
	</div>
</div>